<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= volunteer.firtName %>  </title>
</head>
<body>

    <h1>Hello <%= volunteer.firstName %> <%= volunteer.lastName %> </h1>
    <p>Your Number is: <%= volunteer.phone %> </p>

    <a href="/volunteers">All Volunteers</a>
    <a href="/volunteers/<%=volunteer._id  %>/edit">Edit</a>

    <form action="/volunteers/<%= volunteer._id%>?_method=DELETE" method="POST">
        <button>Delete Volunteer</button>
    </form>
</body>
</html>