<% layout('layouts/boilerplate') %>
<div class="d-flex">
  <div class="col">
    <h1 class="border-bottom mb-5">Choose Volunteer</h1>
  </div>
  <!-- <div class="col d-flex justify-content-between">
    <a class="btn btn-sm btn-info mb-5" href="/emergencies/<%= id %> ">Back</a>
  </div> -->
</div>



<div class="row row-cols-1 row-cols-md-3 g-4">
    <% for(let v of volunteers){ %> 
      <% if(v.emergency.length){ %> 
          <div class="col">
              <div class="card h-100 border-danger">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                      <h5 class="card-title"><%=v.firstName%> <%=v.lastName%></h5>
                      <span class="text-muted"><%= v.city %></span>
                    </div>
                    <p class="card-text"><b>Tel:</b> <%= v.phone %> </p>
                  <form class="d-inline" action="/emergencies/<%=id%>/volunteers/<%=v._id%> " method="POST">
                      <button class="btn btn-primary disabled">Assign</button>
                  </form>
                </div> 
              </div>
          </div>  
      <% }else{ %>   
        <div class="col volunteer-card">
          <div class="card h-100">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h5 class="card-title"><%=v.firstName%> <%=v.lastName%></h5>
                <span class="text-muted"><%= v.city %></span>
              </div>
              <p class="card-text"><b>Tel:</b> <%= v.phone %> </p>
              <form class="d-inline" action="/emergencies/<%=id%>/volunteers/<%=v._id%> " method="POST">
                  <button class="btn btn-sm btn-primary">Assign</button>
              </form>
            </div> 
          </div>
      </div>   
     <% } %>    
     <% } %>    
</div>


  


