<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
              <h5 class="card-title">Emergency in <b><%=emergency.city%></b> </h5>
              <p class="card-text"><%=emergency.description%></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Street</b>: <%=emergency.street%> </li>
              <!-- <li class="list-group-item"><b>Drivers.Nr:</b></li>
              <li class="list-group-item"><b>Address:</b></li> -->
            </ul>
            <div class="card-body d-flex justify-content-between">
             <a class="btn btn-info" href="/emergencies">Back</a>
             <a class="btn btn-warning" href="/emergencies/<%=emergency._id  %>/edit">Edit</a>
            <% if(!emergency.volunteer) {%> 
                 <a class="btn btn-success" href="/emergencies/<%=emergency._id%>/volunteers/assign">Assign</a>
            <% }else{%>
              <form action="/emergencies/<%= emergency._id %>/volunteers/<%= emergency.volunteer._id %>?_method=PUT" method="POST">
                <button class="btn btn-secondary">Unassign</button>
              </form>
            <% }%> 
            </div>
            <% if(!emergency.volunteer) {%> 
              <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delete</button>
            <% }else{%> 
              <button class="btn btn-danger disabled" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delete</button>
            <% }%> 
        </div>
    </div>
</div>

<% if(emergency.volunteer) {%> 
    <div class="accordion mt-5" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <strong> <%= emergency.volunteer.firstName %> <%= emergency.volunteer.lastName %></strong>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-6 offset-3">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body text-center">
                              <h5 class="card-title"><b><%=emergency.volunteer.firstName%> <%=emergency.volunteer.lastName%></b> </h5>
                              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, esse!</p>
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item"><b>Phone</b>: <%= emergency.volunteer.phone %> </li>
                              <li class="list-group-item"><b>Drivers.Nr:</b></li>
                              <li class="list-group-item"><b>Address:</b></li>
                            </ul>
                            <div class="card-body d-flex justify-content-between">
                             </div>
                        </div>
                    </div>
                </div>
             </div>
          </div>
        </div>
<% }%> 


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Warning!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you really want to delete this record? This process cannot be undone!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <form class="d-inline" action="/emergencies/<%= emergency._id%>?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
