<% layout('layouts/boilerplate') %>

<h2 class="border-bottom mb-3 d-flex justify-content-between">
  <div><%= t('details') %></div>
</h2>

<div class="row">
  <div class="col-12">
    <div id='map' style='width: 100%; height: 300px;'></div>
  </div>
  <div class="col-5 mt-4">
    <h3><%=emergency.street%> </h3>
    <% if(!emergency.volunteer) {%> 
    <a class="btn btn-sm btn-primary" href="/emergencies/<%=emergency._id%>/volunteers/assign"><%= t('assign') %></a>
  <% }else{%>
    <form action="/emergencies/<%= emergency._id %>/volunteers/<%= emergency.volunteer._id %>?_method=PUT" method="POST">
      <button class="btn btn-sm btn-primary"><%= t('unassign') %></button>
    </form>
  <% }%> 
    
  </div>
  <div class="col-7 mt-4">
    <h3 class="text-muted"><%= t('description') %> </h3>
    <div>
      <%= emergency.description %> 
    </div>
    <div class="row">
      <div class="col-8">
        <h4 class="text-muted mt-5"><%= t('more_details') %></h4>
        <div class="row">
          <div class="col-6">
            <span class="text-muted"><%= t('created') %>:<strong></span> <%=emergency.emergencyDate.getDate()%>.<%=emergency.emergencyDate.getMonth()+1%>.<%=emergency.emergencyDate.getFullYear()%></strong>
          </div>
          <div class="col-6">
            <span class="text-muted"><%= t('time') %>:</span> <strong><%=emergency.emergencyDate.toLocaleTimeString()%></strong>
          </div>
          <div class="col-6 mt-3">
            <span class="text-muted"><%= t('city') %>:</span> <strong><%= emergency.city %></strong>
          </div>
          <div class="col-6 mt-3">
            <span class="text-muted"><%= t('address') %>:</span> <strong><%= emergency.street %> </strong>
          </div>
          
          <% if(emergency.volunteer){%>
            <div class="col-6 mt-3">
              <span class="text-muted"><%= t('assigned_to') %>:</span> <span class="badge rounded-pill bg-danger"><a class="text-decoration-none text-white" href="/volunteers/<%= emergency.volunteer._id %> "><%=emergency.volunteer.firstName%> <%= emergency.volunteer.lastName %> </a></span>
            </div>
            <div class="d-flex col-12 justify-content-end mt-3">
              <a class="btn btn-sm btn-secondary me-4" href="/emergencies/<%=emergency._id%>/edit"><%= t('edit') %></a>
              <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#closeEmergency"><%= t('close_emergency') %></button>
            </div>
          <% }else{ %>
            <div class="d-flex col-12 justify-content-end mt-3">
              <a class="btn btn-sm btn-secondary me-4" href="/emergencies/<%=emergency._id%>/edit"><%= t('edit') %></a>
              <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><%= t('delete') %></button>
            </div>
          <% } %> 
        </div>
      </div>
    </div>

  </div>
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><%= t('WARNING') %>!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= t('WARNING_DELETION') %> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal"><%= t('cancel') %> </button>
        <form class="d-inline" action="/emergencies/<%= emergency._id%>?_method=DELETE" method="POST">
          <button class="btn btn-sm btn-primary"><%= t('delete') %> </button>
        </form>
      </div>
    </div>
  </div>
</div>
<% if(emergency.volunteer){%>

  <div class="modal fade" id="closeEmergency" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"><%= t('WARNING') %>!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= t('WARNING_CLOSURE') %> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal"><%= t('cancel') %></button>
          <form class="d-inline" action="/volunteers/<%= emergency.volunteer._id %>/emergencies/<%= emergency._id %> " method="POST">
            <button class="btn btn-sm btn-primary"><%= t('close_emergency') %></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <% } %> 



<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN %>';
  const currentEmergency = <%-JSON.stringify(emergency)%>
</script>


<script src="/js/mapDetails.js"></script>
