<% layout('layouts/boilerplate') %>

<h1 class="text-center mb-5"><%= t('edit_volunteer') %> </h1>

<form class="row g-3 mb-5 form-validation" action="/volunteers/<%= volunteer._id%>?_method=PUT" method="POST" novalidate>
    <div class="col-md-6">
        <label for="name" class="form-label"><%= t('first_name') %> </label>
        <input type="text" class="form-control" id="name" name="volunteer[firstName]" placeholder="<%= t('first_name') %>" value="<%=volunteer.firstName%>" required>
        <div class="invalid-feedback">
            Please provide a valid name.
        </div>
    </div>
    <div class="col-md-6">
        <label for="lastname" class="form-label"><%= t('last_name') %></label>
        <input type="text" class="form-control" id="lastname" name="volunteer[lastName]" placeholder="<%= t('last_name') %>" value="<%=volunteer.lastName%>" required>
        <div class="invalid-feedback">
            Please provide a valid name.
        </div>
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label"><%= t('address') %></label>
        <input type="text" class="form-control" id="inputAddress" name="volunteer[address]" placeholder="1234 Main Str" value="<%=volunteer.address%>" required>
        <div class="invalid-feedback">
            Please provide a valid address.
        </div>
    </div>
    <div class="col-md-6">
        <label for="inputCity" class="form-label"><%= t('city') %></label>
        <input type="text" class="form-control" id="inputCity" name="volunteer[city]" placeholder="<%= t('city') %>" value="<%=volunteer.city%>" required >
        <div class="invalid-feedback">
            Please provide a valid city.
        </div>
    </div>
    <div class="col-md-6">
      <label for="inputState" class="form-label"><%= t('state') %></label>
      <select id="inputState" class="form-select" name="volunteer[state]" value="<%=volunteer.state%>" required >
        <% for (state of states) {%> 
            <option value="<%= state %>" <%= volunteer.state === state ? 'selected' : '' %>  ><%= state.charAt(0).toUpperCase()+ state.slice(1) %></option>
        <% }%>    
    </select>
    </div>
    <div class="col-md-6">
        <label for="inputPhone" class="form-label"><%= t('phone') %></label>
        <input type="number" class="form-control" id="inputPhone" name="volunteer[phone]" placeholder="<%= t('phone') %>" value="<%=volunteer.phone%>" required>
      </div>
      <div class="col-md-6">
        <label for="Birthday" class="form-label"><%= t('birthday') %></label>
        <input type="date" class="form-control" id="Birthday" name="volunteer[birthday]" value="<%=volunteer.birthday%>">
      </div>
      
      <div class="col-md-6">
        <label for="inputID" class="form-label"><%= t('personal_ID') %></label>
        <input type="text" class="form-control" id="inputID" name="volunteer[personalID]" placeholder="ID" value="<%=volunteer.personalID%>" required>
      </div>
      <div class="col-md-6">
        <label for="inputLicense" class="form-label"><%= t('drivers_license') %></label>
        <input type="text" class="form-control" id="inputLicense" name="volunteer[licenseNR]" placeholder="<%= t('drivers_license') %>" value="<%=volunteer.licenseNR%>" required>
      </div>
    <!-- <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="has-car">
        <label class="form-check-label" for="has-car" name="volunteer[hasCar]">
          Has a car
        </label>
      </div>
    </div> -->
    <div class="col-12 d-flex justify-content-end">
        <a class="btn btn-sm btn-secondary me-4" href="/volunteers/<%= volunteer._id %> "><%= t('cancel') %></a>
        <button class="btn btn-sm btn-primary"><%= t('save') %></button>
    </div>
  </form>
    
