<% layout('layouts/boilerplate') %>

<!-- <div class="row">
    <h1 class="text-center mb-5">Edit Volunteer</h1>
    <div class="col-6 offset-3">
        <form action="/volunteers/<%= volunteer._id%>?_method=PUT " method="POST" class="form-validation" novalidate>
            <div class="mb-3">
                <label class="form-label" for="name">Firts name</label>
                <input class="form-control" type="text" id="name" name="volunteer[firstName]" placeholder="first name" value="<%=volunteer.firstName%>" required>
                <div class="invalid-feedback">
                    Please provide a name.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="lastname">Last name</label>
                <input class="form-control" type="text" id="lastname" name="volunteer[lastName]" placeholder="last name" value="<%=volunteer.lastName%>" required>
                <div class="invalid-feedback">
                    Please provide a name.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="phone">Phone</label>
                <input class="form-control" type="number" id="phone" name="volunteer[phone]" placeholder="phone" value="<%=volunteer.phone%>" required>
                <div class="invalid-feedback">
                     Please provide a phone number.
                </div>
            </div>
            <div class="mb-3 d-flex justify-content-around">
                <a class="btn btn-danger" href="/volunteers/<%= volunteer._id %> ">Cancel</a>
                <button class="btn btn-success">Save</button>
            </div>
        </form>
 
    </div>
</div> -->

<h1 class="text-center mb-5">Edit Volunteer</h1>

<form class="row g-3 mb-5 form-validation" action="/volunteers/<%= volunteer._id%>?_method=PUT" method="POST" novalidate>
    <div class="col-md-6">
        <label for="name" class="form-label">First Name</label>
        <input type="text" class="form-control" id="name" name="volunteer[firstName]" placeholder="first name" value="<%=volunteer.firstName%>" required>
        <div class="invalid-feedback">
            Please provide a valid name.
        </div>
    </div>
    <div class="col-md-6">
        <label for="lastname" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastname" name="volunteer[lastName]" placeholder="last name" value="<%=volunteer.lastName%>" required>
        <div class="invalid-feedback">
            Please provide a valid name.
        </div>
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" name="volunteer[address]" placeholder="1234 Main Str" value="<%=volunteer.address%>" required>
        <div class="invalid-feedback">
            Please provide a valid address.
        </div>
    </div>
    <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" id="inputCity" name="volunteer[city]" placeholder="City" value="<%=volunteer.city%>" required >
        <div class="invalid-feedback">
            Please provide a valid address.
        </div>
    </div>
    <div class="col-md-6">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select" name="volunteer[state]" value="<%=volunteer.state%>" required >
        <% for (state of states) {%> 
            <option value="<%= state %>" <%= volunteer.state === state ? 'selected' : '' %>  ><%= state.charAt(0).toUpperCase()+ state.slice(1) %></option>
        <% }%>    
    </select>
    </div>
    <div class="col-md-6">
        <label for="inputPhone" class="form-label">Phone</label>
        <input type="number" class="form-control" id="inputPhone" name="volunteer[phone]" placeholder="phone" value="<%=volunteer.phone%>" required>
      </div>
      <div class="col-md-6">
        <label for="Birthday" class="form-label">Birthday</label>
        <input type="date" class="form-control" id="Birthday" name="volunteer[birthday]" placeholder="birthday" value="<%=volunteer.birthdate%>">
      </div>
      <div class="col-md-6">
        <label for="inputID" class="form-label">Personal ID</label>
        <input type="text" class="form-control" id="inputID" name="volunteer[personalID]" placeholder="ID" value="<%=volunteer.personalID%>" required>
      </div>
      <div class="col-md-6">
        <label for="inputLicense" class="form-label">Drivers-license</label>
        <input type="text" class="form-control" id="inputLicense" name="volunteer[licenseNR]" placeholder="phone" value="<%=volunteer.licenseNR%>" required>
      </div>
    <!-- <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="has-car">
        <label class="form-check-label" for="has-car" name="volunteer[hasCar]">
          Has a car
        </label>
      </div>
    </div> -->
    <div class="col-12">
        <a class="btn btn-danger" href="/volunteers/<%= volunteer._id %> ">Cancel</a>
        <button class="btn btn-success" style="background-color: #4fbdc4;">Save</button>
    </div>
  </form>
    
