    <% layout('layouts/boilerplate') %>
    
     
    
          <h1 class="d-flex justify-content-between border-bottom">
            <div><%= t('all_volunteers') %></div>
          </div>
          </h1>
 
    

      <div class="input-group d-flex justify-content-center mt-5 m-auto">
        <div class="form-outline">
          <input id="search-input" placeholder="<%= t('search') %>" type="search" id="form1" class="form-control" />
        </div>
        <button id="search-button" type="button" class="btn btn-primary h-50">
          <i class="fas fa-search"></i>
        </button>
        <!-- Extra search field -->
        <!-- <div class="form-outline ms-3 visually-hidden" id="extra-search">
          <input type="search" id="form1" class="form-control" placeholder="search"
          aria-label="Search" />
        </div> -->
      </div>
    


    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        <% for(let v of volunteers){ %> 
            <div class="col searchable-card">
                <div class="card h-100">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h5 class="card-title"><%=v.firstName%> <%=v.lastName%></h5>
                      <span class="text-muted"><%= v.city %></span>
                    </div>
                    <p class="card-text"><b><%= t('phone') %>: </b> <%= v.phone %></p>
                    <a class="btn btn-sm btn-primary" href="/volunteers/<%= v._id %>"><%= t('details') %> </a>
                  </div> 
                </div>
            </div>
           
         <% } %>    
         
    </div>

<script src="js/searchCards.js"></script>

    
