<% layout('layouts/boilerplate') %>


<h2 class="border-bottom d-flex justify-content-between">
  <div><%=volunteer.firstName%> <strong><%=volunteer.lastName%></strong> </div>
  <div>
    <a class="btn btn-warning" href="/volunteers/<%=volunteer._id  %>/edit">Edit</a>
    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delete</button>
  </div>
</h2>

<div class="card">
  <div class="card-body border border-top-0 rounden-bottom">
    <div class="row">
      <p class="mb-5 col-6"><strong>Address</strong> <i class="border-bottom"><%=volunteer.address %></i></p>
      <p class="mb-5 col-3"><strong>City</strong> <i class="border-bottom"><%=volunteer.city %></i></p>
      <p class="mb-5 col-3"><strong>State of</strong> <i class="border-bottom"><%= volunteer.state.charAt(0).toUpperCase()+ volunteer.state.slice(1)%></i></p>
      <p class="mb-5 col-6"><strong>Phone Number:</strong> <i class="border-bottom"><%=volunteer.phone %> </i></p>
      <p class="mb-5 col-6"><strong>Drivers License</strong> <i class="border-bottom"><%= volunteer.licenseNR%></i></p>
      <p class="mb-5 col-6"><strong>Personal ID</strong> <i class="border-bottom"><%= volunteer.personalID%></i></p>
      <p class="mb-5 col-6"><strong>Birthday</strong> <i class="border-bottom"><%= volunteer.birthday%></i></p>
    </div>
  </div>
</div>



<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Warning!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you really want to delete this record? This process cannot be undone!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <form class="d-inline" action="/volunteers/<%= volunteer._id%>?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>


    

    
   

  
