    <% layout('layouts/boilerplate') %>
    <div class="d-flex">
      <div class="col">
        <h1>All volunteers</h1>
      </div>
      <div class="col d-flex justify-content-between">
        <a class="btn btn-success mb-5" href="/emergencies/new">Add Emergency</a>
        <a class="btn btn-primary mb-5" href="/emergencies">All Emergencies</a>
      </div>
    </div>

    <div class="input-group">
      <div class="form-outline">
        <input id="search-input" placeholder="Search" type="search" id="form1" class="form-control" />
        <!-- <label class="form-label" for="form1">Search</label> -->
      </div>
      <button id="search-button" type="button" class="btn btn-primary h-50">
        <i class="fas fa-search"></i>
      </button>

      <div class="form-outline ms-3 visually-hidden" id="extra-search">
        <input type="search" id="form1" class="form-control" placeholder="search"
        aria-label="Search" />
      </div>
    </div>
    


    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        <% for(let v of volunteers){ %> 
            <div class="col volunteer-card">
                <div class="card h-100">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h5 class="card-title"><%=v.firstName%> <%=v.lastName%></h5>
                      <span class="text-muted"><%= v.city %> </span>
                    </div>
                    <p class="card-text"><b>Address:</b> <%= v.address %> </p>
                    <p class="card-text">Phone: <%= v.phone %> </p>
                    <a class="btn btn-info" href="/volunteers/<%= v._id %>">Details</a>
                  </div> 
                </div>
            </div>
           
         <% } %>    
         
    </div>

<script>
    const searchButton = document.getElementById('search-button');
    const searchInput = document.getElementById('search-input');
    const extraSearch = document.getElementById('extra-search');

    searchButton.addEventListener('click', () => {
      
      search();
      // extraSearch.classList.toggle('visually-hidden');
    });

    search();
    
    function search(){
      searchInput.addEventListener("keyup", (evt)=>{
      
        const searchValue = evt.target.value.toLowerCase();
        const cards = document.querySelectorAll('.volunteer-card');


        if(searchValue!= ''){
          extraSearch.classList.remove('visually-hidden'); 
          search2();
        }else{
          extraSearch.classList.add('visually-hidden');
          
          cards.forEach(card=>{
            console.log('removing...')
            card.classList.remove('found');
          })
        }


        cards.forEach(card=>{
            card.style.display= "none";
            if(card.innerText.toLowerCase().indexOf(searchValue) > -1){
              card.style.display= "";
              card.classList.add('found');
            }

          })
        })

    }

    function search2(){
      extraSearch.addEventListener("keyup", (evt)=>{
      
        const searchValue = evt.target.value.toLowerCase();
        const cards = document.querySelectorAll('.found');
        cards.forEach(card=>{
          card.style.display= "none";
            if(card.innerText.toLowerCase().indexOf(searchValue) > -1){
              card.style.display= "";
            }
          })
        })

    }
  
</script>

    
