    <% layout('layouts/boilerplate') %>
    
     
    
          <h1 class="d-flex justify-content-between border-bottom">
            <div>All volunteers </div>
            <div><a class="btn btn-sm btn-outline-secondary" href="/emergencies">Occuring Emergencies</a></div>
            <div class="dropdown">
              <a class="btn btn-sm btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                  <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                </svg>
                    
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="/emergencies/new"> Emergency</a></li>
                <li><a class="dropdown-item" href="/volunteers/new">Volunteer</a></li>
              </ul>
            </div>
          </div>
          </h1>
 
    

      <div class="input-group d-flex justify-content-center mt-5 m-auto">
        <div class="form-outline">
          <input id="search-input" placeholder="Search" type="search" id="form1" class="form-control" />
          <!-- <label class="form-label" for="form1">Search</label> -->
        </div>
        <button id="search-button" type="button" class="btn btn-primary h-50">
          <i class="fas fa-search"></i>
        </button>
        <div class="form-outline ms-3 visually-hidden" id="extra-search">
          <input type="search" id="form1" class="form-control" placeholder="search"
          aria-label="Search" />
        </div>
      </div>
    


    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        <% for(let v of volunteers){ %> 
            <div class="col volunteer-card">
                <div class="card h-100">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h5 class="card-title"><%=v.firstName%> <%=v.lastName%></h5>
                      <span class="text-muted"><%= v.city %></span>
                    </div>
                    <p class="card-text"><b>Tel:</b> <%= v.phone %></p>
                    <a class="btn btn-sm btn-info" href="/volunteers/<%= v._id %>">Details</a>
                  </div> 
                </div>
            </div>
           
         <% } %>    
         
    </div>

<script>
    const searchButton = document.getElementById('search-button');
    const searchInput = document.getElementById('search-input');
    const extraSearch = document.getElementById('extra-search');

    searchButton.addEventListener('click', () => {
      
      search();
      // extraSearch.classList.toggle('visually-hidden');
    });

    search();
    
    function search(){
      searchInput.addEventListener("keyup", (evt)=>{
      
        const searchValue = evt.target.value.toLowerCase();
        const cards = document.querySelectorAll('.volunteer-card');


        if(searchValue!= ''){
          extraSearch.classList.remove('visually-hidden'); 
          search2();
        }else{
          extraSearch.classList.add('visually-hidden');
          
          cards.forEach(card=>{
            console.log('removing...')
            card.classList.remove('found');
          })
        }


        cards.forEach(card=>{
            card.style.display= "none";
            if(card.innerText.toLowerCase().indexOf(searchValue) > -1){
              card.style.display= "";
              card.classList.add('found');
            }

          })
        })

    }

    function search2(){
      extraSearch.addEventListener("keyup", (evt)=>{
      
        const searchValue = evt.target.value.toLowerCase();
        const cards = document.querySelectorAll('.found');
        cards.forEach(card=>{
          card.style.display= "none";
            if(card.innerText.toLowerCase().indexOf(searchValue) > -1){
              card.style.display= "";
            }
          })
        })

    }
  
</script>

    
