<% layout('layouts/boilerplate') %>


  <h2 class="border-bottom d-flex justify-content-between">
    <div>
      <%=volunteer.firstName%> <strong>
          <%=volunteer.lastName%>
        </strong>
        <span class="emergency-closed">
          <%if(volunteer.emergencyClosed > 0 ){ %>
              (<%= volunteer.emergencyClosed %>) 
          <% } %>  
        </span>
    </div>
  </h2>


  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body row">
          <div class="col-12 border-bottom mb-2 pb-3">
            <div class="d-flex justify-content-center">
              <%= volunteer.address %>
            </div>
          </div>
          <div class="col-6 border-end mt-2 pt-2">
            <div class="d-flex justify-content-center">
              <div>
                <p>
                  <%=volunteer.personalID%>
                </p>
                <span class="text-muted"><%= t('personal_ID') %> </span>
              </div>
            </div>
          </div>
          <div class="col-6 border-start mt-2 pt-2">
            <div class="d-flex justify-content-center">
              <div>
                <p>
                  <%=volunteer.licenseNR %>
                </p>
                <span class="text-muted"><%= t('drivers_license') %> </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <% if(volunteer.previousEmergencies.length) {%>
          <p>
            <a class="btn btn-sm btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              <%= t('past_emergencies') %> 
            </a>
            <div class="collapse" id="collapseExample">
              <% for(let emergency of volunteer.previousEmergencies) {%>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold mb-2">
                      <div><%= emergency.emergencyDate.getDate() %>.<%= emergency.emergencyDate.getMonth()+1 %>.<%= emergency.emergencyDate.getFullYear() %></div>
                    </div>
                     <span class="d-block"><%= t('address') %>:  <%= emergency.street %>  </span>
                     <span class="text-muted"><%= t('description') %>: <%= emergency.description %>  </span>
                  </div>
                  <div>
                    <span class="badge bg-secondary rounded-pill" style="font-size: 14px;"><%= emergency.city %></span>
                  </div>
                </li>
              <% } %>  
            </div>
          </p>
        <% } %>  
      </div>
    </div>
   

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body row">
          <div class="col-12 border-bottom mb-2 pb-3">
            <div class="d-flex justify-content-center">
              <%= t('joined_since') %> : <%=volunteer.registrationDate.getDate()%>.<%=volunteer.registrationDate.getMonth()+1%>.<%=volunteer.registrationDate.getFullYear()%>
            </div>
          </div>
          <div class="col-6 border-end mt-2 pt-2">
            <div class="d-flex justify-content-center">
              <div>
                <p>
                  <%=volunteer.phone%>
                </p>
                <span class="text-muted"><%= t('phone') %> </span>
              </div>
            </div>
          </div>
          <div class="col-6 border-start mt-2 pt-2">
            <div class="d-flex justify-content-center">
              <div>
                <p>
                  <%=volunteer.city%>, <%= volunteer.state.charAt(0).toUpperCase()+ volunteer.state.slice(1) %>
                </p>
                <span class="text-muted"><%= t('city') %>, <%= t('state') %> </span>
              </div>
            </div>
          </div>
        </div>
      </div>

     <div class="row ms-2">
      <% if(volunteer.isBusy) {%> 
        <h4 class="text-muted mt-5"><%=volunteer.firstName%> <%= t('operating_emergency') %>:  </h4>
        <div class="row">
          <div class="col-6 mt-3">
            <span class="text-muted"><%= t('address') %>:</span> <strong><%=volunteer.emergency[0].street %></strong>
          </div>
          <div class="col-6 mt-3">
            <span class="text-muted"><%= t('city') %>:</span> <strong><%=volunteer.emergency[0].city %></strong>
          </div>
        </div>
        <div class="col-6 mt-3">
          <span class="text-muted"></span> <span class="badge bg-danger"><a class="text-decoration-none text-white" href="/emergencies/<%=volunteer.emergency[0]._id%> ">+ <%= t('details') %></a></span>
        </div>
        <div class="col-12 d-flex justify-content-end mt-3">
          <button class="btn btn-sm btn-primary disabled" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><%= t('delete') %> </button>
        </div>
      <% }else{%>
         
        <div class="col-12 d-flex justify-content-end mt-3">
        <a class="btn btn-sm btn-secondary me-4" href="/volunteers/<%=volunteer._id  %>/edit"><%= t('edit') %></a>

          <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><%= t('delete') %></button>
        </div>
      <% } %> 
     </div>

  


      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel"><%= t('WARNING') %>!</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= t('WARNING_DELETION') %> 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal"><%= t('cancel') %></button>
              <form class="d-inline" action="/volunteers/<%= volunteer._id%>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-primary"><%= t('delete') %> </button>
              </form>
            </div>
          </div>
        </div>
      </div>

  
    </div>
  </div>