<% layout('layouts/boilerplate') %>


<div class="row">
    <h1 class="text-center mb-5"><%= t('login') %> </h1>
    <div class="col-4 offset-4">
     <form action="/login" method="POST" novalidate class="form-validation">
         <div class="mb-3 position-relative suggestion">
             <label class="form-label" for="username"><%= t('username') %> </label>
             <input class="form-control" type="text" id="username" name="username" placeholder="<%= t('username') %>" required>
             <div class="invalid-feedback">
                 Field can not be empty
             </div>
         </div>
         <div class="mb-3">
             <label class="form-label" for="password"><%= t('password') %> </label>
             <input class="form-control" type="password" id="password" name="password" placeholder="<%= t('password') %>" required>
             <div class="invalid-feedback">
                Field can not be empty
             </div>
         </div>
         <div class="mb-3 d-flex justify-content-start">
             <button class="btn btn-sm btn-primary"><%= t('login') %> </button>
         </div>
     </form>
 
    </div>
</div>